/* NAVIGATION BAR */
#navbarstyle{
    color: rgb(255, 255, 255);
    background-color: #e05b33;
}
/* Logo */
    #logo_size{
        width: 20%;
        height: auto;
    }

/* Google maps */


/* YELP */
.yelp_size{
    width: 500px;
    height: auto;
}


/* Home Page */

/* About Page */

/* FOOTER */
#footer{
    color: rgb(255, 255, 255);
    background-color: #e05b33;
}